venv/

db.sqlite3

0001_initial.py

__pycache__/

.idea/

main/migrations/0001_initial.py
main/migrations/0002_todo_deadline.py
main/migrations/0003_alter_todo_deadline.py
main/migrations/0004_alter_todo_deadline.py
main/migrations/0005_category_created_at_alter_todo_deadline.py
main/migrations/0006_alter_category_slug.py
main/migrations/0007_alter_category_slug.py
main/migrations/0008_category_user_alter_todo_deadline.py
