{% extends 'base.html' %}

{% block title %} Delete Todo Item {% endblock %}

{% block content %}
	<div class="container my-3">
        <div class="row">
            <div class="col-10 offset-1">
                <h2 class="mb-4">Do you really want to delete this todo item ?</h2>
                <a href="{% url 'todo:delete' todo_item.id %}" class="btn btn-danger">Yes</a>
                <a href="{% url 'todo:home' %}" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
{% endblock %}